<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ladda-themeless.min.css" rel="stylesheet">
    <link href="css/angular-material.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- app's dependencies js -->
    <script src="lib/ionic/js/production/jquery.min.js"></script>
    <script src="lib/ionic/js/production/bootstrap.min.js"></script>
    <script src="lib/ionic/js/production/angular-animate.min.js"></script>
    <script src="lib/ionic/js/production/angular-aria.min.js"></script>
    <script src="lib/ionic/js/production/angular-messages.min.js"></script>
    <script src="lib/ionic/js/production/angular-material.min.js"></script>
    <script src="lib/ionic/js/production/angular-ui-router.min.js"></script>
    <script src="lib/ionic/js/production/angular-resource.min.js"></script>
    <script src="lib/ionic/js/production/ngStorage.min.js"></script>
    <script src="lib/ionic/js/production/spin.min.js"></script>
    <script src="lib/ionic/js/production/ladda.min.js"></script>
    <script src="lib/ionic/js/production/angular-ladda.min.js"></script>

    <!-- app's js -->
    <script src="js/app/config/main.js"></script>
    <script src="js/app/config/app.js"></script>
  </head>
  <body ng-app="app">

    <ion-pane>
      <!--<ion-header-bar class="bar-stable">-->
        <!--<h1 class="title">Ionic Blank Starter</h1>-->
      <!--</ion-header-bar>-->
      <ion-view view-title="Login" name="login-view">
        <ion-content class="padding">
          <div layout="column" layout-align="center center" layout-fill="layout-fill">
            <div layout="column" class="loginBox md-whiteframe-z1">
              <md-toolbar>
                <h2 class="md-toolbar-tools login-header"><span>Login</span></h2>
              </md-toolbar>
              <md-content layout="column" class="md-padding">
                <form name="form" ng-submit="form.$valid && loginCtrl.login()" novalidate>
                  <md-input-container class="md-block">
                    <label for="username">Login</label>
                    <input type="text" name="username" ng-model="loginCtrl.username" md-auto-hide="false" required />
                    <div ng-messages="form.$submitted && form.username.$error" md-auto-hide="false">
                      <div ng-message="required">Login obrigatório</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label for="password">Senha</label>
                    <input type="password" name="password" ng-model="loginCtrl.password" required />
                    <div ng-messages="form.$submitted && form.password.$error" md-auto-hide="false">
                      <div ng-message="required">Senha obrigatória</div>
                    </div>
                  </md-input-container>
                  <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <button ladda="loginCtrl.loading" data-style="expand-left" type="submit" class="md-button md-raised md-primary">Entrar</button>
                  </div>
                  <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button href="" md-no-ink="md-no-ink">Esqueci a senha</md-button>
                  </div>
                  <div ng-if="loginCtrl.error" class="alert alert-danger">{{loginCtrl.error}}</div>
                </form>
              </md-content>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </ion-pane>
  </body>
</html>
