<div class="logo-login">
  <img src="img/logo_iwashcard.png"  />
</div>
<div>
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Login" ng-model="usuario.login">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Senha" ng-model="usuario.senha">
    </label>
    <span>
      <br />
      <p class="text-right"><a href="#">Esqueci minha senha.</a></p>
    </span>
    <div class="text-center">
      <button ng-click="doLogin()" class="btn-entrar button button-energized">
        <span class="label-entrar">Entrar</span>
      </button>
    </div>
  </div>
</div>
